.container {
    // border: 1px solid #000;

    .heading {
        font-size: 16px;
        margin: 15px 0;
    }

    .headerTableCell {
        background-color: #000;
        color: #fff;
    }
}
